body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.app {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}
li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.input-group button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
li div button:first-child {
    background-color: green;
    color: white;
}
li div button:last-child {
    background-color: red;
    color: white;
}
li div {
    display: flex;
    gap: 5px;
}
.error {
    color: #e74c3c;
    font-size: 12px;
    display: none;
    margin-bottom: 5px;
}
select {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}